.masterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  gap: 20%;
}

.bodyRight {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* Ajusta según sea necesario */
  overflow: hidden;
}

.imag {
  /* height: 470px; */
  width: 100%;
  /* background-image: url('src/app/Content/Factura.png'); */
  /* background-size: cover; Ajusta la imagen para cubrir todo el contenedor */
  /* background-repeat: no-repeat; Evita que la imagen se repita */
  height: auto;
  /* Mantiene la relación de aspecto */
  object-fit: cover;
  /* Ajusta la imagen sin distorsionarla */
  display: block;
  /* Elimina espacios debajo de la imagen */
}

.image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.432) 190%);

  pointer-events: none;
  /* Permite la interacción con la imagen */
}

.title {
  color: white;
  font-size: 50px;
}

.Cards {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100px;
}

.matcard {
  gap: 40px;
  width: 400px;
  height: 417px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(160 198 213 / 49%);
  box-shadow: 1px 0px 8px 2px aliceblue;
}

.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.inputsloggin {
  width: 100%;
  color: powderblue;
}

.cardContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matcardContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 95%;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}