.container{
padding: 1em;
}
.table-container {
    display: flex;
    justify-content: center;
  }
  
  .mat-table {
    width: 100%;
  }
  
  .mat-header-cell, .mat-cell {
    text-align: center;
    white-space: nowrap; /* Esto hace que el texto no se envuelva */
  }
  
  .mat-header-row, .mat-row {
    display: table-row;
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  
  .mat-header-cell, .mat-cell {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .mat-header-row {
    background-color: #f1f1f1;
  }
  
  .mat-row:hover {
    background-color: #f5f5f5;
  }
  .header{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .search{
    width: 80%;
  }
  .formField{
    width: 100%;
  }
  .btn{
    height: 57px;
  }