<div class="container">
    <div class="header">
        <div class="search">
            <mat-form-field class="formField">
                <mat-label>Buscar en la tabla</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ej. 00001" #input>
            </mat-form-field>
        </div>
        <div class="setBtn">
            <button mat-raised-button class="btn" mat-button (click)="setProdutos()" value="Login">Registrar Nuevo
                Producto</button>
        </div>

    </div>

    <div class="mat-elevation-z8 table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-table">

            <!-- ID Column -->
            <ng-container matColumnDef="idProducto">
                <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Id Producto </th>
                <td class="mat-cell" mat-cell *matCellDef="let row"> {{row.idProducto}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="codigo">
                <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Codigo de Registro </th>
                <td class="mat-cell" mat-cell *matCellDef="let row"> {{row.codigo}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
                <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Detalle del Producto
                </th>
                <td class="mat-cell" mat-cell *matCellDef="let row"> {{row.nombre}} </td>
            </ng-container>

            <!-- Precio Column -->
            <ng-container matColumnDef="precio">
                <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                <td class="mat-cell" mat-cell *matCellDef="let row"> {{row.precio}} </td>
            </ng-container>

            <!-- Stock Column -->
            <ng-container matColumnDef="stock">
                <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de Productos en
                    Stock </th>
                <td class="mat-cell" mat-cell *matCellDef="let row"> {{row.stock}}
                    <button mat-raised-button mat-button>
                        <mat-icon>plus</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Activo Column -->
            <ng-container matColumnDef="activo">
                <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Estado del producto </th>
                <td class="mat-cell" mat-cell *matCellDef="let row"> {{row.activo}} </td>
            </ng-container>

            <!-- Fecha Creacion Column -->
            <ng-container matColumnDef="fechaCreacion">
                <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Ingreso </th>
                <td class="mat-cell" mat-cell *matCellDef="let row"> {{row.fechaCreacion}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="7">No se ha encontrado datos para filtrar "{{input.value}}"</td>
            </tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>